@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: #296ca8;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 6.25rem;
}

h1 {
    margin-bottom: 0;
    text-align: center;
}

.filter-container {
    margin-top: 1.25rem;
    width: 80vw;
    max-width: 50rem;
}

.filter {
    width: 100%;
    padding: .75rem;
    font-size: 1rem;
}

.post {
    position: relative;
    background-color: #4992d3;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.3);
    border-radius: .1875rem;
    padding: 1.25rem;
    margin: 2.5rem 0;
    display: flex;
    width: 80vw;
    max-width: 50rem;
}

.post .post-title {
    margin: 0;
}

.post .post-body {
    margin: .9375rem 0 0;
    line-height: 1.3;
}

.post .post-info {
    margin-top: 1.25rem;
}

.post .number {
    position: absolute;
    top: -.9375rem;
    left: -.9375rem;
    font-size: .9375rem;
    background-color: #fff;
    color: #296ca8;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: .4375rem .625rem;
}

.loader {
    opacity: 0;
    position: fixed;
    display: flex;
    bottom: 3.125rem;
    transition: opacity .3s ease-in;
}

.loader.show {
    opacity: 1;
}

.circle {
    background-color: #fff;
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    margin: .3125rem;
    animation: bounce 0.5s infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-.625rem);
    }
}
